.container {
	justify-content: space-between;
	gap: 10;
}

.intro {
	display: flex;
	flex-direction: column;
	gap: 10px;

	h3 {
		font-size: 24px;
	}
}

.img-container {
	display: flex;
	justify-content: center;
	height: 150px;
	background: linear-gradient(to bottom, #f90e1a, #30f92c);
	border-radius: 20px;

	img {
		border-radius: 20px;
		padding: 3px;
		width: 100%;
		height: 100%;
	}
}

.event {
	h2 {
		font-size: 48px;
		text-align: center;
	}
}

.ticket-info {
	display: flex;
	border: 1px solid #000;
	border-top-right-radius: 5px;
	padding: 5px;
	width: 70%;
	justify-content: center;
}

.ticket-info-extend {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: center;

	> :nth-child(1),
	:nth-child(2) {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.date-time {
		display: flex;
		gap: 5px;

		p {
			display: flex;
			width: 60px;
			height: 60px;
			justify-content: center;
			align-items: center;
			background: #64897c;
			opacity: 0.6;
			border-radius: 50%;
		}
	}

	.info {
		border: 1px solid #000;
		border-top-right-radius: 5px;
		padding: 5px 10px;
	}

	.entry {
		text-align: center;

		img {
			width: 100%;
			height: 150px;
		}
	}
}
